[Unit]
Description=Filebeat
Documentation=https://www.elastic.co/guide
After=network.target

[Service]
Type=simple
WorkingDirectory={{ filebeat_home }}
ExecStart={{ filebeat_home }}/filebeat -c {{ filebeat_home }}/filebeat.yml
User=root
Group=root
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target