[Unit]
Description=Graylog
Documentation=https://www.graylog.org
After=network.target

[Service]
WorkingDirectory={{ graylog_home }}
ExecStart={{ graylog_home }}/bin/graylogctl start
ExecStop={{ graylog_home }}/bin/graylogctl stop
User={{ graylog_user }}
Group={{ graylog_user }}
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target